*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

.blu_button{
    background-color: #1455b0;
    color: white;
    margin: 0 0.2rem;
}

.orangeicon{
    color:orange
}

.ofc_btn{
    color: white;
    font-size: medium;
    border: solid white 2px;
    margin: 2px;
}

.off_canvas {
    color: black;
}

.mynav{
    flex-grow: 0;
}

.my_navbar{
    height: 4rem;
    border: solid black 1px;
}

.logo{
    
    max-height: 3rem;
}

.leftmenu{
    /* margin-top: 4rem; */
    height: calc(100vh - 4rem);
    width: 10%;
    min-width: 3rem;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    padding: 1rem 0.5rem;
}

.leftmenu a{
    text-decoration: none;
    color: white;
}

.leftlink {
    padding: 0.1rem 0.3rem;
    border-radius: 0.1rem;
}

.browser{
    height: calc(100vh - 4rem);
    width: 90%;
    background-color: aliceblue;
}

.browser_top{
    background-color: #1C71EA;
    color:white;
    padding: 0.4rem;
    min-height: 5rem;
}

h6{
    
    margin: 0 0.2rem;
}

.codeicon{
    padding:0;
    font-size: 1rem;
}


.cardbutton{
    font-size: 0.6rem;
    padding: 0.1rem 0.2rem;
}

.iconazioni{
    margin: 0.1rem;
    padding: 0.2rem;
    font-size: 1rem;
    color: grey;
    border-radius: 20%;
    border: solid grey 1px;

}

.table p{
    margin:0;
}

.name_col{
    width: auto;
}

.data_col{
    width: 7rem;
}

.roi_col{
    width: 0;
}

.stato_col{
    width: 0;
}

.azioni_col{
    width: 5rem;
}

.checkcard{
    width: 90%;
    margin: 1rem auto;
}

.carta {
    margin: 1rem auto;
    padding-bottom: 1rem;
}


.leftlink:hover{
    background-color: rgba(255, 255, 255, 0.37);
}

.iconazioni:hover{
    scale:calc(1.1)
}

.form-control{
    background-color: rgb(214, 214, 214);
    border:none
}

.searchbar{
    background-color: rgb(214, 214, 214);;
    border-radius: 2rem;
}

.modal-backdrop{
    z-index: 100;
}