*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

.mynav{
    flex-grow: 0;
}

.my_navbar{
    height: 4rem;
    border: solid black 1px;
}

.logo{
    width: 7rem;
}

.leftmenu{
    /* margin-top: 4rem; */
    height: calc(100vh - 4rem);
    width: 15%;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.browser{
    /* margin-top: 4rem; */
    height: calc(100vh - 4rem);
    width: 85%;
    background-color: aliceblue;
}

.browser_top{
    background-color: aqua;
    min-height: 5rem;
}

.browser_main{
    background-color: red;
    
}